/*code for background image*/
body {
    background-image: url("Images/main_background.jpg");
}
h1 {
    color: blue;
}
p {
    color: red;
}

/*Code for a sign-up button*/
body {
  padding: 20px;
}
button {
  margin-top: 20px;
  line-height: 60px;
  font-weight: bold;
  padding: 0 40px;
  background: salmon;
  border: none;
}
button:hover {
  background: lightsalmon;
}
