/*code for background image*/
html {
  background: url(Images/main_background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
    color: blue;
}

h1 {
    color: green;
}

/*Code for a sign-up button*/
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: white;
  border: 3px solid #CCF36E;
  color: #000000;
  text-align: center;
  font-size: 28px;
  padding: 5px 30px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 50%;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
